    /* Base Styles -------------------- */
    
    body {
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
    }
    
    header {
        background-image: url(images/bg-hero-desktop.svg);
        background-repeat: no-repeat;
        background-size: 300px;
        background-position: center;
        height: 100px;
    }
    
    .logo {
        display: block;
        position: absolute;
        left: 5px;
        top: 5px;
        height: 35px;
    }
    
    button {
        border-radius: 10%;
    }
    
    .header-btn {
        position: fixed;
        right: 5px;
        top: 5px;
        padding: 2em;
    }
    
    .div1 {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    
    .div1 p {
        max-width: 700px;
    }
    
    .btn {
        font-size: 14px;
        color: white;
        background: salmon;
        width: fit-content;
        padding: 10px 5px;
    }
    
    .div2 {
        display: flex;
        flex-flow: column wrap;
        max-width: 50%;
    }
    
    .div2 h3 {}
    
    .div2 p {
        max-width: 700px;
    }
    
    .div2 img {
        height: 400px;
        width: 550px;
        float: right;
    }
    
    .div3 {
        text-align: right;
        margin-right: 50px;
    }
    
    .div3 p {
        max-width: 700px;
        text-align: right;
        align-content: right;
        float: right;
    }
    
    .flow {
        height: 400px;
        width: 550px;
    }
    
    .div4 p {
        max-width: 700px;
    }
    
    .users {
        height: 400px;
        width: 550px;
    }
    
    .div5 {
        text-align: center;
    }
    
    footer {
        background-color: #f9f9f9;
        padding: 5em;
    }
    
    nav {
        text-align: center;
    }
    /* -------------Media Queries ------------------------*/
    
    @media (max-width: 1440px) {
        @media (max-width: 375px) {}
        ;
    }